/*
 * INDEX 
 * * import
 * * variables
 * * body
 * * type
 * * forms
 * * buttons and links
 * * layout
 * * header
 * * footer
 * * components
 * * intro
 * * 
 * * 
 * * animations
 * * utilities
 * * other
 */

/*
 * import
 */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat&display=swap');
@import 'reset.css';

/*
 * variables
 */
:root {
	/* colors */
	--c-gray: #f4f7f6;
	--c-pastel: #cbdbd7;
	--c-soft: #91aab4;
	--c-base: #3e606f;
	--c-dark: #193441;
	--c-second: #ffcc33;
	--c-white: #fff;
	--c-black: #000;
	/* fonts */
	--f-primary: 'Montserrat', sans-serif;
	--f-secondary: 'Merriweather', serif;
	/* spacers */
	--s-half: 1em;
	--s-base: 2em;
	--s-double: 4em;
}

/*
 * body
 */
body {
	font-family: var(--f-primary);
	font-size: 10px;
	line-height: 1.7;
	font-weight: 400;
	color: var(--c-base);
	background: var(--dark-grey);
	/* touch-action: manipulation; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

/*
 * type
 */
h1,
h2,
h3 {
	font-family: var(--f-secondary);
	margin-bottom: var(--s-half);
	line-height: 1.3;
	font-weight: 900;
	letter-spacing: .5px;
	color: var(--c-soft);
}
h1 {
	font-size: 3.4em;
	line-height: 1.3;
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.6em;
}
p {
	font-size: 1.6em;
	line-height: 1.5;
	font-weight: 400;
	color: var(--c-base);
	margin-bottom: var(--s-base);
}
ul {
	margin-top: var(--s-base);
}
li {
	/* counter-reset: list; */
	font-size: 1.6em;
	line-height: 1.5;
	margin-bottom: var(--s-half);

	position: relative;
	margin: 1em;
}

ul > li {
	list-style-type: none;
}
/* li::before {
	counter-increment: list;
	content: counter(list);
	font-size: 1em;
	background: var(--c-second);
	width: 1em;
	height: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	border-radius: 1em;
	position: absolute;
	bottom: 0;
	left: 0;
} */
h1 span,
h2 span,
h3 span {
	color: var(--c-dark);
}

p.lead {
	font-size: 2em;
}
hr {
	margin: var(--s-double) 0;
	border-top: 8px solid var(--c-pastel);
}

/*
 * forms
 */
form {
	width: 100%;
}
form input[type=text],
form input[type=number],
form input[type=email],
form input[type=password],
form select,
form textarea {
	width: 100%;
	display: block;
	margin-bottom: 1rem;
	padding: .5rem 1rem;
	background: var(--c-white);
	border-radius: .5em;
	border: 1px solid var(--c-soft);
	font-size: 2em;
	font-family: var(--f-primary);
	line-height: 1;
	letter-spacing: 1px;
	color: var(--c-dark);
	transition: all .2s ease-out;
}

form input[type=text]:focus,
form input[type=number]:focus,
form input[type=email]:focus,
form input[type=password]:focus {
	border-color: var(--c-dark);
}

form input::placeholder,
form textarea::placeholder {
	color: var(--c-pastel);
}
form select {
	-webkit-appearance: none;
	-moz-appearance: none;
}
.password-container {
	width: 100%;
	position: relative;
}

.password-container button {
	position: absolute;
	margin: 0;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	background: transparent;
}

.password-container button svg {
	stroke: none;
	fill: var(--c-pastel);
	width: 2em;
	height: 1.6em;
}

form input[type=file]::-webkit-file-upload-button {
	visibility: hidden !important;
	display: none;
}
form input[type=file]::before {
	content: 'Add File';
	display: inline-block;
	padding: 1em 2em;
	outline: none;
	white-space: nowrap;
	border: 1px solid var(--c-soft);
	border-radius: .7em;
	cursor: pointer;
	font-size: 1em;
	letter-spacing: 1px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0 auto 1em;
	-webkit-user-select: none;
	transition: background 250ms ease-out, color 250ms ease-out;
}

form input[type=file]:hover::before,
form input[type=file]:active::before {
	background: var(--c-base);
	color: var(--c-white);
}

/*
 * buttons and links
 */
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	padding: .7em 1.5em;
	margin-bottom: 1em;
	font-size: 1.4em;
	line-height: 1;
	letter-spacing: 1px;

	color: var(--c-dark);
	background: var(--c-gray);
	border: 1px solid var(--c-gray);
	transition: background 250ms ease-in-out, color 500ms ease-in-out, border 500ms ease-in-out;
}

button:hover,
button.selected {
	background: var(--c-dark);
	color: var(--c-white);
	border-color: var(--c-dark);
}

.btn {
	border-radius: .5em;
}
.btn.dark {
	background: var(--c-dark);
	color: var(--c-white);
	border: 1px solid var(--c-dark);
}
.btn.outline {
	background: var(--c-white);
	color: var(--c-dark);
	border: 1px solid var(--c-dark);
}
.btn.soft {
	background: var(--c-soft);
	color: var(--c-white);
	border: 1px solid var(--c-soft);
}
.btn.soft-outline {
	background: var(--c-white);
	color: var(--c-dark);
	border: 1px solid var(--c-pastel);
}
.btn:hover,
.btn.selected,
.btn.dark:hover,
.btn.dark.selected,
.btn.outline:hover,
.btn.outline.selected,
.btn.soft:hover,
.btn.soft.selected,
.btn.soft-outline:hover,
.btn.soft-outline.selected {
	background: var(--c-second);
	color: var(--c-dark);
	border-color: var(--c-second);
}

.btn-icon {
	padding: .5em 1em;
	background: var(--c-white);
	border: none;
}
.btn-icon:hover {
	background: var(--c-white);
}
.btn-icon svg {
	width: 1.6em;
	height: 2.3em;
	fill: var(--c-white);
	stroke: var(--c-dark);
	stroke-width: 1.4;
	transition: fill 250ms ease-out;
}
.btn-icon:hover svg,
.btn-icon.selected svg {
	fill: var(--c-dark);
}

.btn-profile {
	/* background: var(--c-white); */
	padding: 0;
	border-radius: 50%;
}

.btn-profile figure {
	border: 3px solid var(--c-white);
	border-radius: 50%;
	width: 3.2em;
	height: 3.2em;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: border 250ms ease-out;
}
.btn-profile img {
	transform: scale(2.4);
	-webkit-user-select: none;
	-webkit-user-drag: none;
	-webkit-app-region: no-drag;
}

.btn-profile:hover figure,
.btn-profile.selected figure {
	border-color: var(--c-dark);
}

.btn-profile.lg figure {
	width: 6em;
	height: 6em;
}

a {
	font-size: 1em;
	color: var(--c-base);
	text-decoration: none;
	border-bottom: 1px solid var(--c-pastel);
	transition: border 250ms ease-out;
}
a:hover {
	border-bottom-color: var(--c-dark);
}
.link {
	font-size: 1.4em;
	text-transform: uppercase;
}
a.btn {
	font-size: 1.4em;
	display: inline-block;
	padding: .7em 2em;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/*
 * layout
 */
main {
	width: 100%;
	margin-top: 4em;
}

main .container {
	width: 90%;
	margin: auto;
}

/*
 * footer
 */
/*
 * footer
 */
footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: yellow;
	width: 100%;
	z-index: -1;
}
footer svg {
	fill: var(--c-gray);
	width: 10em;
	height: 3.6em;
}
footer .diagonal {
	transform: rotate(180deg);
	bottom: 0;
	right: 0;
	position: absolute;
}
footer > div:first-of-type {
	position: absolute;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	z-index: 1;
	padding: 1em;
}

footer p {
	font-size: 1.2em;
	letter-spacing: .5px;
	margin: 0;
	color: var(--c-base);
}
/*
 * components
 */
.diagonal {
	width: 100%;
	max-width: 420px;
	height: 100px;
	overflow: hidden;
	position: relative;
}

.diagonal::after {
	content: '';
	width: 110%;
	height: 100px;
	background: var(--c-white);
	display: block;
	transform: rotate(-7.5deg) translateX(-50%);
	position: absolute;
	top: -105px;
	left: 50%;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/*
 * header
 */
header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 420px;
	z-index: 1;
}

header .container {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	padding: 0 1em;
	background: var(--c-white);
}

header .container,
header .container span {
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 2;
}

header #logo {
	width: 10em;
	height: 3.6em;
}
header #logo svg {
	width: 10em;
	height: 3.6em;
	fill: var(--c-dark);
}

header button {
	margin: 0;
}
header .btn-icon svg {
	fill: var(--c-dark);
	stroke: none;
}

header a {
	text-decoration: none;
	border: none;
}

header .diagonal {
	margin-top: 3em;
	z-index: 1;
}

header nav {
	width: 100%;
	max-width: 36em;
	height: 100vh;
	background: var(--c-white);
	padding: 10em 3em 3em 3em;
	position: absolute;
	top: -100vh;
	left: 0;
	transition: top 300ms ease-in-out;
}
header nav.open {
	top: 0;
}
header nav a {
	display: block;
	font-size: 2em;
	line-height: 1;
	text-transform: uppercase;
	font-weight: 800;
	letter-spacing: 1px;
	color: var(--c-soft);
	padding: 1rem 0;
	transition: color 500ms ease-in-out, margin 300ms ease-in-out;
}
header nav a:last-of-type {
	margin-bottom: 3em;
}

header nav a:hover,
header nav a.selected {
	margin-left: .5em;
	color: var(--c-dark);
}

#search {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	max-width: 360px;
	padding: 1em 1em 2em 1em;
	margin: 0;
	z-index: 2;
}

#search form {
	position: relative;
}

#search form input {
	width: 20%;
	margin: 0 0 0 auto;
	border-radius: 3rem;
	z-index: 1;
}

#search form input:focus {
	width: 100%;
}

#search form svg {
	width: 2em;
	height: 2em;
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
	fill: var(--c-soft);
}
#search form svg:focus svg {
	fill: var(--c-white);
}

/*
 * intro
 */
#intro #animation {
	background: var(--c-pastel);
	height: 50vh;
	display: flex;
	padding: 0 4em;
	position: relative;
	overflow: hidden;
}

#intro svg {
	fill: var(--c-white);
	width: 25%;
	transition: fill 250ms ease-in-out, width 250ms ease-in-out;
}

#intro svg.selected {
	fill: var(--c-dark);
	width: 30em;
}

#intro .diagonal {
	position: absolute;
	bottom: -2em;
	left: 0;
	right: 0;
	transform: rotate(180deg);
}

#intro #action {
	width: 100%;
	height: 40vh;
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

#intro #action > * {
	margin: .2rem;
	line-height: 1;
}

#intro #action p {
	font-size: 1.4em;
	margin-bottom: 2em;
}

#intro #action .btn {
	margin-bottom: 1em;
}

/*
 * animations
 */

/*
 * utilities
 */
.hide {
	display: none;
}
