/*
 * INDEX 
 * * import
 * * variables
 * * body
 * * type
 * * forms
 * * buttons and links
 * * layout
 * * header
 * * components
 * * 
 * * animations
 * * utilities
 * * other
 */

/*
 * import
 */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,900&family=Montserrat&display=swap');
@import 'reset.css';

/*
 * variables
 */
:root {
	/* colors */
	--c-gray: #f4f7f6;
	--c-pastel: #cbdbd7;
	--c-soft: #91aab4;
	--c-base: #3e606f;
	--c-dark: #193441;
	--c-second: #ffcc33;
	--c-white: #fff;
	--c-black: #000;
	/* fonts */
	--f-primary: 'Montserrat', sans-serif;
	--f-secondary: 'Merriweather', serif;
	/* spacers */
	--s-half: 1em;
	--s-base: 2em;
	--s-double: 4em;
}

/*
 * body
 */
body {
	font-family: var(--f-primary);
	font-size: 10px;
	line-height: 1.7;
	font-weight: 400;
	color: var(--c-base);
	background: var(--dark-grey);
	/* touch-action: manipulation; */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
}

/*
 * type
 */
h1,
h2,
h3 {
	font-family: var(--f-secondary);
	margin-bottom: var(--s-half);
	line-height: 1.3;
	font-weight: 900;
	letter-spacing: .5px;
	color: var(--c-soft);
}
h1 {
	font-size: 3.4em;
	line-height: 1.3;
}
h2 {
	font-size: 3em;
}
h3 {
	font-size: 2.6em;
}
p {
	font-size: 1.6em;
	line-height: 1.5;
	font-weight: 400;
	color: var(--c-base);
	margin-bottom: var(--s-base);
}
ul {
	margin-top: var(--s-base);
}
li {
	/* counter-reset: list; */
	font-size: 1.6em;
	line-height: 1.5;
	margin-bottom: var(--s-half);

	position: relative;
	margin: 1em;
}

ul > li {
	list-style-type: none;
}
/* li::before {
	counter-increment: list;
	content: counter(list);
	font-size: 1em;
	background: var(--c-second);
	width: 1em;
	height: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1em;
	border-radius: 1em;
	position: absolute;
	bottom: 0;
	left: 0;
} */
h1 span,
h2 span,
h3 span {
	color: var(--c-dark);
}
p.lead {
	font-size: 2em;
}
hr {
	margin: var(--s-double) 0;
	border-top: 8px solid var(--c-pastel);
}

/*
 * forms
 */
form {
	width: 100%;
}

/*
 * buttons and links
 */
button {
	-webkit-appearance: none;
	-moz-appearance: none;
	display: inline-block;
	border: none;
	cursor: pointer;
	text-decoration: none;
	text-transform: uppercase;
	padding: .7em 1.5em;
	margin: .2em 0 1em;
	font-size: 1.4em;
	line-height: 1;
	letter-spacing: 1px;
	border-radius: 2em;
	color: var(--c-dark);
	background: var(--c-gray);
	border: 1px solid var(--c-gray);
	transition: background 250ms ease-in-out, color 500ms ease-in-out;
}

button:hover {
	background: var(--c-dark);
	color: var(--c-white);
	margin-top: 0;
	border-color: var(--c-dark);
}

a {
	font-size: 1em;
	color: var(--c-base);
	text-decoration: none;
	border-bottom: 1px solid var(--c-pastel);
	transition: border 250ms ease-out;
}
a:hover {
	border-bottom-color: var(--c-dark);
}

.btn {
	background: var(--c-dark);
	color: var(--c-white);
	border: 1px solid var(--c-dark);
}
.btn:hover {
	background: var(--c-second);
	color: var(--c-dark);
	border-color: var(--c-second);
}
.btn-outline {
	background: var(--c-white);
	color: var(--c-dark);
	border: 1px solid var(--c-dark);
}
.btn-soft {
	background: var(--c-soft);
	color: var(--c-white);
	border: 1px solid var(--c-soft);
}
.btn-soft-outline {
	background: var(--c-white);
	color: var(--c-dark);
	border: 1px solid var(--c-pastel);
}
.btn-soft-outline:hover {
	background: var(--c-soft);
	border-color: var(--c-soft);
}
.link {
	font-size: 1.4em;
	text-transform: uppercase;
}

/*
 * layout
 */
main {
	width: 100%;
}

.container {
	width: 90%;
	margin: auto;
}

/*
 * components
 */
.diagonal {
	width: 100%;
	max-width: 360px;
	height: 100px;
	background: var(--c-white);
	overflow: hidden;
	position: relative;
}

.diagonal::after {
	content: '';
	width: 110%;
	height: 100px;
	background: var(--c-white);
	display: block;
	transform: rotate(-7.5deg) translateX(-50%);
	position: absolute;
	top: -105px;
	left: 50%;
	box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

/*
 * header
 */
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-width: 400px;
}

header #logo {
	width: 80px;
	height: 28px;
}
header #logo svg {
	width: 80px;
	height: 28px;
	fill: var(--c-dark);
	margin: var(--s-half);
}

/*
 * utilities
 */
.hide {
	display: none;
}
